

nav {
     width: 100%;
     position: fixed;
     top: 0;
     color:black;
     font-family: 'copperplate';
     }

body {
  background-color: black;
  color:black;
  font: 600 13.5px/17.5px;
  border-radius: 0px;
}

.box {
  background: OrangeRed;
  float: left;
  margin: 1.858736059%;
  padding: 1px 0;
  text-align: center;
  width: 15.615861214%;

}
  #vid { 
   position: fixed; 
  top: 15%;
  left: 28.5%;
}

p {
  color: OrangeRed;
  position: fixed; 
  top: 60%;
  left:30%;
  font-size: 130%;
  font-family: 'copperplate'

}

a {
    color: #000; 
    color: inherit;
}

#icons {
     position: fixed;
     bottom: 0;
     right: 0;
}

#logo {
  position:fixed;
  top:10%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) {}

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape){

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation : portrait) {
}
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
body{ background-color: OrangeRed}
p {color:white;}
.box {
  background:white;

}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

a:link {
    text-decoration: none;
}






