

#menu {
     width: 100%;
     position: absolute;
     top: 0;
     color:black;
     font-family: 'copperplate'
     }

body {
  background-color: black;
  color:black
  font: 600 13.5px/17.5px;
  border-radius: 0px;
}

.box {
  background: OrangeRed;
  float: left;
  margin: 1.858736059%;
  padding: 1px 0;
  text-align: center;
  width: 15.615861214%;

}
  #vid { 
	 position: absolute; 
	top: 115px;
  left: 350px;
}

p {
  color: OrangeRed;
  position: relative; 
  top: 445px;
  left: 360px;
  font-size: 130%;
  font-family: 'copperplate'


}

a {
    color: #000; /* for browsers that don't support 'inherit' as a color value */
    color: inherit;
}

#fb {
    position:absolute;
    left:735px;
    top: 155px;
}

#tw {
     position: absolute;
    left:775px;
    top:155px;

}

#maps {
     position: absolute;
     left: 695px;
     top: 155px;
     color:black;

}


